@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&display=swap');
:root{
    font-family: "Open Sans" , serif;
    scroll-behavior: smooth;
}
header nav .logo{
    font-family: "Libre Baskerville", serif;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(65, 43, 31);
    text-transform: uppercase;
    text-align: left;
}
.burger-icon {
    font-size: 3rem;
}

#burger-checkbox {
    display: none;
}

header .menu {
    display: none;
}

header input:checked ~ .menu {
    display: flex;
}

header .menu {
    flex-direction: column;
}

header .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 3px;
}

header .menu a:hover {
    font-weight: bold;
}

@media (min-width: 610px) {
    header nav {
        display: flex;
    }

    .burger-icon {
        display: none;
    }

    header .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }
}
body{
    background-color: tan;
}


.facebook-logo{
    width: 40px;
    height: 40px;
    margin: auto;
    display: block;
}
.insta-logo{
    width: 40px;
    height: 40px;
    margin: auto;
    display: block;
}
article{
    border: 1px solid rgb(46, 32, 20);
    margin: 20px;
    padding: 20px;
}
.genesis{
    width: 100%;
    margin: auto;
    display: block;
}



