@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&display=swap');
:root{
    --main-color: rgb(58, 38, 24);
    --accent-color: rgb(114, 76, 53);
    font-family: "Open Sans" , serif;
    scroll-behavior: smooth;
}
body{
    background-color: tan;
    max-width: 980px;
    margin: auto;
}
header nav .logo{
    font-family: "Libre Baskerville", serif;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--main-color);
    text-transform: uppercase;
    text-align: left;
}
.burger-icon {
    font-size: 1.5rem;
}
#burger-checkbox {
    display: none;
}
header .menu {
    display: none;
    flex-direction: column;
}
header input:checked ~ .menu {
    display: flex;
}
header .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--accent-color);
    padding: 3px;
    font-size: 1.1rem;
}
header .menu a:hover {
    font-weight: bold;
}
@media (min-width: 800px) {
    header nav {
        display: flex;
    }
    .burger-icon {
        display: none;
    }
    header .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }
}
.facebook-insta-logo{
    width: 40px;
    height: 40px;
    margin: auto;
    display: block;
    cursor: grabbing;
}
@media (max-width: 300px){
    #services{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #leading-in{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #contacts{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
@media (max-width: 500px){
    #services{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #leading-in{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #contacts{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
@media (max-width: 700px){
    #services{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #leading-in{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: stretch;
    }
    #contacts{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: stretch;
    }
}
@media (min-width: 300px){
    #about-us{
        display: grid;
    }
}
@media (min-width: 500px){
    #about-us{
        display: grid;
    }
}
h2{
    font-family: "Open Sans" , serif;
    font-size: 1.5rem;
    color: var(--main-color);
}
h3{
    font-family: "Open Sans" , serif;
    font-size: 1.4rem;
    color: var(--main-color);

}
p{
    color: var(--accent-color);
    font-size: 1rem;
}
#about-us .genesis{
    object-fit: cover;
    object-position: 90.60% 50%;
    width: 100%;
    display: block;
}
#about-us{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

}
article{
    border: 1px solid rgb(46, 32, 20);
    margin: 20px;
    padding: 20px;
}
.genesis{
    width: 100%;
    margin: auto;
    display: block;
}

table{
    color: var(--main-color);
}
.button {
    padding: 0.35em 1.2em;
    border: 0.1em solid var(--main-color);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: var(--main-color);
    text-align: center;
    transition: color 0.7s;
    background-color: transparent;
}
.button:hover {
    color: tan;
    background-color: var(--main-color);
    cursor: grabbing;
}
#leading-in .genesis{
    width: 50%;
}
.in-in{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#leading-in{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
}
input[type=text]{
    padding: 0.35em 1.2em;
    border: 0.1em solid var(--main-color);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: var(--main-color);
    text-align: center;
    transition: color 0.7s;
    background-color: transparent;
}
input[type=text]:hover{
    color: tan;
    background-color: var(--main-color);
    cursor: grabbing;
}
input[type=submit]{
    padding: 0.35em 1.2em;
    border: 0.1em solid var(--main-color);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: tan;
    text-align: center;
    transition: color 0.7s;
    background-color: var(--main-color);
    cursor: grabbing
}
.info{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
#contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
}
.map{
    width: 2100px;
}
